::-webkit-scrollbar {
  width: 0.3rem;
  background-color: var(--smoke);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 0.5rem;
}

:root {
  --primary: #28865f;
  --light-green: #60c095;
  --active: #008552;
  --natural: #3a4a42;
  --secondary: #172b4d;
  --navy: #344563;
  --white: #fff;
  --light: #c5e9da;
  --smoke: #ebf0ee;
  --dark: #28352f;
  --gray: #505f79;
  --light-gray: #dfe1e6;
  --dim-gray: #6b778c;
  --dark-blue: #091e42;
  --facebook: #15a2fa;
  --twitter: #1d9bf0;
  --whatsapp: #27cc37;
  --linkedin: #0077b5;
  --gmail: #ea4335;
  --bg-header-mobile: url("./assets/background/header.svg");
  --bg-about-me-mobile: url("./assets/background/about-me.svg");
  --bg-contact-form-mobile: url("./assets/background/contact-form.svg");
  --bg-header-desktop: url("assets/background/header-desktop.svg");
  --bg-about-me-desktop: url("./assets/background/about-me-desktop.svg");
  --bg-contact-form-desktop: url("./assets/background/contact-form-desktop.svg");
}

body.theme2 {
  --primary: #1e488f;
  --light: #e2edff;
  --smoke: #ebeff4;
  --bg-header-mobile: url("./assets/background/headert2.svg");
  --bg-about-me-mobile: url("./assets/background/about-met2.svg");
  --bg-contact-form-mobile: url("./assets/background/contact-formt2.svg");
  --bg-header-desktop: url("assets/background/header-desktopt2.svg");
  --bg-about-me-desktop: url("./assets/background/about-me-desktopt2.svg");
  --bg-contact-form-desktop: url("./assets/background/contact-form-desktopt2.svg");
}

body.theme3 {
  --primary: #ff6163;
  --light: #ffe7e8;
  --smoke: #f9eaea;
  --bg-header-mobile: url("./assets/background/headert3.svg");
  --bg-about-me-mobile: url("./assets/background/about-met3.svg");
  --bg-contact-form-mobile: url("./assets/background/contact-formt3.svg");
  --bg-header-desktop: url("assets/background/header-desktopt3.svg");
  --bg-about-me-desktop: url("./assets/background/about-me-desktopt3.svg");
  --bg-contact-form-desktop: url("./assets/background/contact-form-desktopt3.svg");
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Inter", sans-serif;
  margin: auto;
}

#theme-panel {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: flex-end;
  cursor: default;
  gap: 0.3rem;
  background-color: var(--smoke);
  padding: 0.3rem;
  border-radius: 1rem;
  transition: width 0.5s ease-in-out;
  overflow: hidden;
}

.theme-selector {
  border: none;
  width: 0;
  height: 0;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  transition: all 0.5s;
}

#theme-panel:hover {
  width: 7rem;
}

#theme-panel:hover > button {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
}

#theme1 {
  background-color: #36b37e;
}

#theme2 {
  background-color: #1e488f;
}

#theme3 {
  background-color: #ff6163;
}

#theme1:hover {
  outline: 2px solid #36b37e;
}

#theme2:hover {
  outline: 2px solid #1e488f;
}

#theme3:hover {
  outline: 2px solid #ff6163;
}

#back-to-top {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 3rem;
}

.mobile-header {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  height: 90vh;
  box-shadow: 0.1rem 0.1rem 0.2rem var(--gray);
}

.mobile-button {
  align-self: flex-end;
  margin: 1.25rem 1.25rem 0 0;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#logo {
  display: none;
}

.nav-item {
  color: var(--navy);
  font: 0.9rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.25rem;
  margin: auto 1rem;
  transition: all 0.3s;
}

.mobile-nav-item {
  font-size: 2rem;
  font-weight: 600;
  text-align: start;
  margin: 20px 1rem;
}

a {
  text-decoration: none;
  color: var(--gray);
}

#logo {
  color: var(--dark);
}

#welcome {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-image: var(--bg-header-mobile);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 90vh;
}

.heading {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 0.75rem;
}

.text-secondary {
  color: var(--secondary);
}

.text-primary {
  color: var(--primary);
}

.description {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  color: var(--secondary);
  padding: 0 1rem;
  max-width: 85%;
}

.social-icons {
  list-style-type: none;
  padding: 0;
}

.social-icon {
  margin: 0.5rem;
  color: var(--gray);
  font-size: 1.5rem;
}

.facebook:hover {
  color: var(--facebook);
}

.twitter:hover {
  color: var(--twitter);
}

.linkedin:hover {
  color: var(--linkedin);
}

.whatsapp:hover {
  color: var(--whatsapp);
}

.gmail:hover {
  color: var(--gmail);
}

#scroll-bottom {
  display: flex;
  justify-content: center;
}

.icon {
  color: var(--gray);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid var(--smoke);
}

#recent-works {
  display: grid;
  grid-template-rows: auto repeat(6, 1fr);
  justify-items: center;
  row-gap: 1.5rem;
}

#group {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#indicator {
  height: 0.25rem;
  width: 3rem;
  background-color: var(--primary);
}

.project-card {
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 2px solid var(--smoke);
  width: 20.5rem;
}

.image-placeholder {
  height: 15.75rem;
  width: 100%;
  background-color: var(--smoke);
}

.project-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--natural);
  text-align: center;
}

.languages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

.language-tags {
  list-style-type: none;
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  background-color: var(--smoke);
  border-radius: 4px;
}

.button {
  font-weight: 500;
  color: var(--white);
  padding: 0.75rem;
  border-radius: 0.25rem;
  background-color: var(--primary);
  border: none;
  margin: 1rem 0;
  letter-spacing: 0.03rem;
  transition: box-shadow 0.2s;
}

.button:hover {
  box-shadow: 0.1rem 0.1rem 0.2rem var(--dark);
  transform: scale(1.05);
}

.button:active {
  background: var(--active);
}

#about-me {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 0;
  overflow-x: hidden;
}

#about-me-intro {
  flex-direction: column;
  background-image: var(--bg-about-me-mobile);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0.5rem;
  height: 50vh;
}

.about-me-card {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 2fr 1fr 1fr;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--smoke);
  width: 20.5rem;
  height: 21rem;
  padding: 2rem 1rem;
  margin: 1rem 0.5rem;
}

.icon-wrapper {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  background-color: var(--white);
}

.skill-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--navy);
}

.skill-list {
  flex-wrap: wrap;
  width: 100%;
  padding: 0;
  margin: 0;
}

.skill-tag {
  list-style-type: none;
  padding: 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--primary);
  background-color: var(--white);
  border-radius: 0.75rem;
  margin: 0.25rem;
}

#contact-form {
  flex-direction: column;
  gap: 20px;
}

#contact {
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  background-image: var(--bg-contact-form-mobile);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.contact-input {
  border-radius: 0.25rem;
  color: var(--dim-gray);
  background-color: var(--white);
  padding: 1rem;
  border: 1px solid var(--smoke);
  width: 20.5rem;
}

#message {
  font-family: inherit;
  color: var(--dark-blue);
  border: 1px solid var(--light-green);
  border-radius: 0.25rem;
  padding: 0.75rem;
  width: 20.5rem;
}

#message::placeholder {
  color: var(--dark-blue);
}

footer {
  flex-direction: column;
  width: 100%;
}

.footer-email {
  padding-bottom: 250px;
}

#submit-button {
  margin: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #welcome {
    background-position: center;
  }

  #contact-form-caption {
    max-width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    justify-content: center;
  }

  #logo,
  #hamburger {
    display: none;
  }

  .desktop-nav {
    display: block;
  }

  main {
    background-image: var(--bg-header-desktop);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #welcome {
    background-image: none;
    justify-content: center;
    gap: 20px;
  }

  #greeting-caption {
    display: inline-block;
    letter-spacing: auto;
    animation-name: typeAnim, flush;
    animation-duration: 3s, 0.5s;
    animation-timing-function: steps(40, end), linear;
    animation-iteration-count: 1, infinite;
    animation-fill-mode: forwards, forwards;
    overflow: hidden;
    height: auto;
    white-space: nowrap;
  }

  .description {
    max-width: 65%;
  }

  #recent-works {
    grid-template: auto repeat(3, 1fr) / repeat(2, 1fr);
  }

  #group {
    grid-column: 1 / span 2;
  }

  #indicator {
    display: none;
  }

  #about-me-intro {
    background-image: var(--bg-about-me-desktop);
    background-size: 100%;
    min-height: 60vh;
  }

  #contact {
    background-image: var(--bg-contact-form-desktop);
    background-size: 100%;
    background-position: center;
    padding: 5rem 0 20rem 0;
  }

  #contact-form {
    width: 50%;
    align-items: flex-start;
  }

  #contact-form-caption {
    font-size: 2rem;
    width: 35%;
  }

  .contact-input,
  #message {
    width: 85%;
    padding: 1rem;
  }

  footer {
    border-top: 1px solid var(--dim-gray);
  }

  .footer-email {
    display: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #recent-works {
    grid-template: auto repeat(2, 1fr) / repeat(3, 1fr);
  }

  #group {
    grid-column: 1 / span 3;
  }

  #contact {
    padding-top: 10rem;
  }

  #contact-form {
    gap: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 125%;
  }

  #about-me-intro {
    min-width: 100%;
  }

  #contact-form {
    gap: 40px;
  }
}

@keyframes typeAnim {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes flush {
  from {
    border-right: transparent;
  }

  50% {
    border-right: 2px solid var(--secondary);
  }

  to {
    border-right: transparent;
  }
}

.nav-item:hover {
  color: white;
  background: var(--primary);
  font-size: 30px;
  padding: 8px;
}

.nav-item:active {
  background-color: aqua;
}
